* {
    box-sizing: border-box;
}

html,
body {
    font: 18px/1.7 'Ninito', sans-serif;
}

body {
    margin: 0;
    color: #fff;
    background-color: #0B1D26;
    background-image: url("./../images/bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6, p { 
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

.no-scroll {
    overflow-y: hidden;    
}

/* Header */
.container-wide {
    margin: 0 auto;
    max-width: 1790px;
    padding: 0 15px;  
}

.row {
    display: flex; 
}  

.space-between {
    justify-content: space-between; 
}    

.logo {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 32px;
}   

.nav {
    font-weight: 700;

    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;

        a {
            color: #fff;
            text-decoration: none;
            position: relative;
            transition: color 0.2s ease-in;
            padding-bottom: 5px;

            &:hover {
                color: #FBD784;

                &::after {
                    bottom: 0px;
                    opacity: 1;    
                }
            }

            &::after {
                position: absolute;
                left: 0;
                bottom: -10px;
                display: block;
                content: '';
                width: 100%;
                height: 2px;
                background-color: #FBD784;
                opacity: 0;
                transition: all 0.2s ease-in;
            }
        }
        
    }    
}

.nav li + li {
    margin-left: 40px;
}

.account {
    font-size: 17px;  
    position: relative;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    transition: color 0.2s ease-in;
    padding-left: 30px;

    &:hover {
        color: #FBD784;    
    }

    &::before {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('./../images/icons/account.svg');
        width: 20px;
        height: 20px;    
        background-size: contain;
    }


}

.container {
    max-width: 1492px; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;   
}

.header {
    padding-top: 64px;
    padding-bottom: 843px;

}

.nav-wrapper {
    margin-bottom: 128px; 

    .align-center {
        align-items: center;    
    }   
}

.nav-button {
    position: relative;
    z-index: 9;
    display: none;
    height: 25px;
    border: none;
    padding: 0;
    cursor: pointer;
    // background: transparent;    
    background: none;

    &:focus,
    &:active {
        outline: none;    
    }
}

.nav-button-icon {
    position: relative;
    display: block;
    border: none;
    background-color: #fff;
    width: 42px;
    height: 5px;   

    &::before {
        position: absolute;
        left: 0px;
        top: -10px;
        content: '';
        display: block;
        width: 42px;
        height: 5px;
        background-color: #fff;    
    } 

    &::after {
        position: absolute;
        left: 0px;
        // top: 10px;
        bottom: -10px;
        content: '';
        display: block;
        width: 42px;
        height: 5px;
        background-color: #fff;    
    } 
}

.nav-button-close .nav-button-icon {
    background-color: transparent;

    &::before {
        transform: rotate(45deg);  
        top: 0;  
    }

    &::after {
        transform: rotate(-45deg);  
        top: 0;  
    }
}

.mobile-nav {
    position: fixed;
    z-index: 8;
    top: 0;
    right: 0;
    display: none;
    // display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 100%;
    padding: 70px 70px 50px 30px;
    background-color: rgba(11, 29, 38, 0.8);  

    .nav, .account {
        display: block;    
    } 

    ul {
        flex-direction: column;

        li {
            margin: 0;
            margin-bottom: 25px;
        }
    }
}

/* Hero */
.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    transition: transform 2s ease;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));

    &:hover {
        transform: translateY(-5%);    
    }

    .hero-category { 
        margin-bottom: 32px;
        position: relative;
        font-weight: 800;
        padding-left: 104px;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 6px;
        text-transform: uppercase;
        color: #FBD784;

        &::before {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            content: '';
            width: 72px;
            height: 2px;
            background-color: #FBD784;
        }    
    }   

    .hero-title {
        margin-bottom: 32px;
        font-family: 'Playfair Display', serif;
        font-size: 88px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.136;
        text-transform: capitalize;
        text-align: left;
        color: #fff;
    } 

    .hero-scroll {
        display: inline-block;
        position: relative;
        padding-right: 32px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.222;    
        color: #fff;

        &::after {
            display: block;
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url('./../images/icons/arrow_downward.svg'); 
            width: 16px;
            height: 24px;

        }
    }
}

/* Article */
.article {
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:nth-child(even) {
        flex-direction: row-reverse;    
    }

    .article-text {
        position: relative;
        padding-left: 150px; 
        max-width: 782px;
        margin-right: 20px;

        &::before {
            display: block;
            content: attr(data-number);
            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(-50%);
            width: 240px;
            height: 240px;

            font-style: normal;
            font-weight: 700;
            font-size: 240px;
            line-height: 1;   
            color: #fff;
            opacity: 0.1;
        }

        p {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 1.78;
            color: #FFFFFF;
            margin-bottom: 27px;
        }   
    }    

    .article-subtitle {
        margin-bottom: 32px;
        position: relative;
        font-weight: 800;
        padding-left: 96px;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 6px;
        text-transform: uppercase;
        color: #FBD784;

        &::before {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            content: '';
            width: 72px;
            height: 2px;
            background-color: #FBD784;
        }        
    }

    .article-title {
        max-width: 555px;
        margin-bottom: 27px;
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 64px;
        line-height: 1.2;
        color: #FFFFFF;
    }

    .article-read-more {
        display: inline-block;
        position: relative;
        padding-right: 40px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.222;    
        color: #FBD784;
        text-decoration: none;

        &::after {
            display: block;
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url('./../images/icons/arrow_rightward.svg'); 
            width: 24px;
            height: 16px;

        }    
    }

    .article-img {
        img {
            display: block;
            max-width: 100%;
        }
    }
}

/* Footer */
.footer {
    padding-bottom: 120px;

    .footer-row {
        display: flex;    
        justify-content: space-between;
    }

    .footer-copyright {
        display: flex;
        flex-direction: column;

        .footer-copyright-logo {
            margin-bottom: 24px;
        }    

        .footer-copyright-desc {
            max-width: 303px;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.78;    
        }

        .footer-copyright-terms {
            font-size: 18px;
            margin-top: auto;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            opacity: 0.5; 
        }
    }    

    .footer-nav-wrapper {
        display: flex; 

        .footer-nav-title {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 1.333;
            color: #FBD784;
            margin-bottom: 24px;
            
            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
                margin-top: -16px;

                li {
                    padding: 0;
                    margin: 0;
                    margin-bottom: 11px

                    &:last-child {
                        margin-bottom: 0;    
                    }
                }
            }
        }

         
    }

        
}

.footer-nav {
    max-width: 200px; 
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.78;

    a {
        color: #fff;
        text-decoration: none;
        position: relative;
        padding-bottom: 5px;

        &::after {
            position: absolute;
            left: 0;
            bottom: -10px;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background-color: #fff;
            opacity: 0;
            transition: all 0.2s ease-in;
        }

        &:hover::after {
            bottom: 0px;
            opacity: 1;
        }
    }
} 

.footer-nav + .footer-nav {
    margin-left: 212px;
}