doctype html
html(lang="ru") 
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE-Edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title WYOOD
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@400;500;700&family=Open+Sans&family=Playfair+Display:wght@400;500;600;700&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap")
        link(rel="stylesheet" href="./css/reset.css")
        link(rel="stylesheet" href="./css/index.css")
        link(rel="stylesheet" href="./css/media.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap")
    body

    header.header
        nav.nav-wrapper
            .container-wide 
                .row.space-between.align-center
                    h2.logo WYOOD
                    .nav
                        ul
                            li 
                                a(href="#") Equipment 
                            li 
                                a(href="#") About us 
                            li 
                                a(href="#") Blog 
                    a.account(href="#") Account
                    button.nav-button
                        span.nav-button-icon
                    .mobile-nav
                        .nav
                            ul
                                li 
                                    a(href="#") Equipment 
                                li 
                                    a(href="#") About us 
                                li 
                                    a(href="#") Blog 
                        a.account(href="#") Account
        a.hero(href="#")
            .hero-category A&nbsp;hiking guide
            h1.hero-title Be&nbsp;prepared for the Mountains and beyond!
            p.hero-scroll Scroll down

    main.main
        .container
            article.article
                .article-text(data-number="01")
                    .article-subtitle Get Started
                    h2.article-title What level of&nbsp;hiker are you?
                    p Determining what level of&nbsp;hiker you are can be&nbsp;an&nbsp;important tool when planning future hikes. This hiking level guide will help you plan hikes according to&nbsp;different hike ratings set by&nbsp;various websites like All Trails and Modern Hiker. What type of&nbsp;hiker are you&nbsp;&mdash; novice, moderate, advanced moderate, expert, or&nbsp;expert backpacker?
                    a(href="#").article-read-more read more
                .article-img
                    img(src="./images/01.jpg" alt="Image01")
            article.article
                .article-text(data-number="02")
                    .article-subtitle Hiking Essentials
                    h2.article-title Picking the right Hiking Gear!
                    p The nice thing about beginning hiking is&nbsp;that you don&rsquo;t really need any special gear, you can probably get away with things you already have. Let&rsquo;s start with clothing. A&nbsp;typical mistake hiking beginners make is&nbsp;wearing jeans and regular clothes, which will get heavy and chafe wif they get sweaty or&nbsp;wet.
                    a(href="#").article-read-more read more
                .article-img
                    img(src="./images/02.jpg" alt="Image02")
            article.article
                .article-text(data-number="03")
                    .article-subtitle where you go&nbsp;is&nbsp;the key
                    h2.article-title Understand Your Map &amp;&nbsp;Timing
                    p To&nbsp;start, print out the hiking guide and map. If&nbsp;it&rsquo;s raining, throw them in&nbsp;a&nbsp;Zip-Lock bag. Read over the guide, study the map, and have a&nbsp;good idea of&nbsp;what to&nbsp;expect. I&nbsp;like to&nbsp;know what my&nbsp;next landmark is&nbsp;as&nbsp;I&nbsp;hike. For example, I&rsquo;ll read the guide and know that say, in&nbsp;a&nbsp;mile, I&nbsp;make a&nbsp;right turn at&nbsp;the junction..
                    a(href="#").article-read-more read more
                .article-img
                    img(src="./images/03.jpg" alt="Image03")
        
    footer.footer
        .container
            .row.space-between
                .footer-copyright
                    .footer-copyright-logo 
                        .logo WYOOD 
                    p.footer-copyright-desc Get out there &amp;&nbsp;discover your next slope, mountain &amp;&nbsp;destination!
                    p.footer-copyright-terms Copyright 2021&nbsp;WYOOD, Inc. Terms &amp;&nbsp;Privacy
                .footer-nav-wrapper
                    .footer-nav
                        h4.footer-nav-title More on&nbsp;The Blog  
                        ul     
                            li
                                a(href="#") About MNTN
                            li 
                                a(href="#") Contributors &amp;&nbsp;Writers
                            li 
                                a(href="#") Write For&nbsp;Us
                            li 
                                a(href="#") Contact&nbsp;Us
                            li 
                                a(href="#") Privacy Policy
                    .footer-nav
                        h4.footer-nav-title More on&nbsp;WYOOD  
                        ul     
                            li
                                a(href="#") The Team
                            li 
                                a(href="#") Jobs
                            li 
                                a(href="#") Press



